# I will ingest a CSV into postgresql and normalize it.
# Or will I normalize it partly in python and then ingest and do finishing touches?
First creating and initiating our venv:

In [ ]:
python3 -m venv venv

In [ ]:
. venv/bin/activate

Let's ingest to a df

In [ ]:
pip install pandas

In [171]:
import pandas as pd

df = pd.read_csv("/Users/bfaris96/Desktop/turing-proj/cars_db/FINAL_SPINNY_900.csv")

In [172]:
df.shape

(976, 20)

Checking for any nulls:

In [173]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [Car_Name, Make, Model, Make_Year, Color, Body_Type, Mileage_Run, No_of_Owners, Seating_Capacity, Fuel_Type, Fuel_Tank_Capacity(L), Engine_Type, CC_Displacement, Transmission, Transmission_Type, Power(BHP), Torque(Nm), Mileage(kmpl), Emission, Price]
Index: []

Stripping extra whitespace:

In [174]:
df = df.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

In [175]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

Eliminating duplicate entries:

In [176]:
df = df.drop_duplicates()

In [177]:
df.shape

(914, 20)

Removing all non-numeric characters from mileage and price columns

In [178]:
df['Mileage_Run'] = df['Mileage_Run'].str.replace(r'\D', '', regex=True)
df['Price'] = df['Price'].str.replace(r'\D', '', regex=True)

In [179]:
import re

def clean_name(row):
    # Split the car name field into individual words/phrases
    name_list = list(row["Car_Name"].split())

    # Create regex to match [2000-2018] type strings in name
    year_pattern = re.compile(r"\[(\d{4})-(\d{4})\]")
    year_match = re.search(year_pattern, row["Car_Name"])

    # Remove from name list if match found
    if year_match is not None and year_match.group(0) in name_list:
        name_list.remove(year_match.group(0))
    
    # Create a regular expression to match engine sizes in litres (e.g., 2.5l)
    liter_pattern = re.compile(r"\b\d+\.\d+[lL]\b")
    
    # Create a regular expression to match numeric values (e.g., 2.5)
    no_l_liter_pattern = re.compile(r"\b\d+\.\d+\b")
    
    # Search the car name for matches to the numeric regular expression
    no_l_liter_match = re.search(no_l_liter_pattern, row["Car_Name"])
    
    # Initialize a list to store the cleaned name
    new_name_list = list()

    # Split the engine type into individual words
    engine_type_words = row["Engine_Type"].split()
    
    # Search the engine type for matches to the engine size regular expression
    liter_match = re.search(liter_pattern, row["Engine_Type"])
    
    # If a match was found, add it to the engine type words (minus the 'l' character)
    if liter_match is not None:
        engine_type_words.append(liter_match.group(0)[:-1])

    # Split the car make and model into individual words
    make_words = row["Make"].split()
    model_words = row["Model"].split()
    
    # For each word in the car name, if it is not in the engine type, make, model or other row values, add it to the new name
    for word in name_list:
        if word not in row.values[1:] and word not in engine_type_words and word not in model_words and word not in make_words:
            new_name_list.append(word)

    # Search the cleaned car name for numeric matches
    no_l_liter_match = re.search(no_l_liter_pattern, row["Car_Name"])

    # Remove the numeric match from the cleaned name
    if no_l_liter_match is not None and no_l_liter_match.group(0) in new_name_list:
        new_name_list.remove(no_l_liter_match.group(0))
    
    # Join the cleaned name words into a single string and assign it back to the row's car name
    new_name = " ".join(new_name_list)

    # Create a regular expression to match long litre labels (e.g., 2.5-litre)
    long_liter_pattern = re.compile(r"\b\d+\.\d+\b-litre")
    
    # Search the engine type for long litre label matches
    long_liter_match = re.search(long_liter_pattern, row["Engine_Type"])

    # If a numeric match was found in the car name
    if no_l_liter_match is not None and no_l_liter_match.group(0) not in engine_type_words and f"{no_l_liter_match.group(0)}l" not in engine_type_words:
        # Add the match (with an 'l' appended) to the engine type words
        engine_type_words.append(f"{no_l_liter_match.group(0)}l")
        
        # If a long litre label match was found in the engine type, remove it
        if long_liter_match is not None:
            engine_type_words.remove(long_liter_match.group(0))
        
        # Join the engine type words into a single string and assign it back to the row's engine type
        new_engine_type = " ".join(engine_type_words)
    else:
        new_engine_type = row["Engine_Type"]
    return new_name, new_engine_type

# Apply the clean_name function to each row of the DataFrame
df["Car_Name"], df["Engine_Type"] = zip(*df.apply(clean_name, axis=1))

In [180]:
import re

def clean_engine(df):
    engine_string = df["Engine_Type"]
    # Remove the pattern of number followed by the word "speed"
    engine_string = re.sub(r'\b\d+\s*speed\b', '', engine_string)

    # Now we split the string into a list of words
    engine_list = engine_string.split()

    # Define the list of unwanted words
    unwanted_words = ["petrol", "diesel", "cng", "lpg", "electric", "petrol+cng", "petrol+electric", "engine", "automatic", "manual", "transmission"]

    # Create a new list with only the words that are not in unwanted_words
    engine_list = [word for word in engine_list if word not in unwanted_words]

    # Join the words back together into a string
    new_engine = " ".join(engine_list)
    return new_engine

df["Engine_Type"] = df.apply(clean_engine, axis=1)

To standardize and constrain columns, I'll get all the unique values for relevant columns:

In [181]:
columns = ['Car_Name', 'Make', 'Model', 'Color', 'Body_Type','No_of_Owners','Fuel_Type', 'Engine_Type','Transmission','Transmission_Type', 'Emission']
for column in columns:
    print(df[column].value_counts())

Car_Name
vxi                      73
sportz                   51
sx                       30
asta                     28
alpha                    27
                         ..
rxz turbo cvt             1
limited                   1
rxt mt                    1
sharp turbo dct 6-str     1
flair edition             1
Name: count, Length: 218, dtype: int64
Make
hyundai          293
maruti suzuki    285
honda             73
renault           66
ford              46
toyota            30
volkswagen        27
tata              23
mg motors         23
mahindra          18
kia                8
chevrolet          6
skoda              5
nissan             4
jeep               4
datsun             3
Name: count, dtype: int64
Model
elite i20        64
i10              36
grand i10        35
baleno           32
verna            32
                 ..
a-star            1
zest              1
corolla altis     1
safari            1
hector plus       1
Name: count, Length: 87, dtype: int64
Color
white     188
red       167
grey      156
silver    126
blue      122
brown      62
black      35
orange     19
bronze     12
beige       9
yellow      6
purple      4
golden      3
maroon      3
green       2
Name: count, dtype: int64
Body_Type
hatchback    462
sedan        207
suv          186
muv           38
crossover     21
Name: count, dtype: int64
No_of_Owners
1st    770
2nd    140
3rd      4
Name: count, dtype: int64
Fuel_Type
petrol        749
diesel        163
petrol+cng      2
Name: count, dtype: int64
Engine_Type
kappa vtvt 1.2l                75
k10b                           56
1.0l                           29
1.2l vvt                       28
                               26
                               ..
1.5 l turbocharged revotorq     1
multijet/ddis                   1
1.5l                            1
k15b smart hybrid 1.5l          1
1.5 litre                       1
Name: count, Length: 131, dtype: int64
Transmission
5-speed    707
6-speed    153
4-speed     35
7-speed     16
cvt          3
Name: count, dtype: int64
Transmission_Type
manual       653
automatic    261
Name: count, dtype: int64
Emission
bs iv     552
bs v      281
bs iii     81
Name: count, dtype: int64

Now I'll convert owner ordinals to an int:

In [182]:
def owner_to_int(df):
    if df['No_of_Owners'] == '1st':
        return 1
    elif df['No_of_Owners'] == '2nd':
        return 2
    elif df['No_of_Owners'] == '3rd':
        return 3
    elif df['No_of_Owners'] == '4th':
        return 4
    elif df['No_of_Owners'] == '5th':
        return 5


df['No_of_Owners'] = df.apply(owner_to_int, axis=1)

Now I'll convert emission type to 1 character:

In [183]:
def emission_to_int(df):
    if df['Emission'] == 'bs iv':
        return 4
    elif df['Emission'] == 'bs iii':
        return 3
    elif df['Emission'] == 'bs vi':
        return 6
    elif df['Emission'] == 'bs v':
        return 5
    elif df['Emission'] == 'bs ii':
        return 2

df['Emission'] = df.apply(emission_to_int, axis=1)

Now I will shorten fuel type to 1-2 characters

In [184]:
def shorten_fuel_type(df):
    if df['Fuel_Type'] == 'diesel':
        return 'd'
    elif df['Fuel_Type'] == 'petrol':
        return 'p'
    elif df['Fuel_Type'] == 'petrol+cng':
        return 'pc'
    elif df['Fuel_Type'] == 'cng':
        return 'c'
    elif df['Fuel_Type'] == 'lpg':
        return 'l'
    elif df['Fuel_Type'] == 'electric':
        return 'e'
    elif df['Fuel_Type'] == 'petrol+electric':
        return 'pe'

df['Fuel_Type'] = df.apply(shorten_fuel_type, axis=1)

Now I will shorten the transmission type to 1 character:

In [185]:
def shorten_transmission_type(df):
    if df['Transmission_Type'] == 'manual':
        return 'm'
    elif df['Transmission_Type'] == 'automatic':
        return 'a'

df['Transmission_Type'] = df.apply(shorten_transmission_type, axis=1)

Now I will shorten the transmission gears field to 1 character:

In [186]:
def shorten_transmission_gears(df):
    if df['Transmission'] == '7-speed':
        return 7
    elif df['Transmission'] == '6-speed':
        return 6
    elif df['Transmission'] == '5-speed':
        return 5
    elif df['Transmission'] == '4-speed':
        return 4
    elif df['Transmission'] == 'cvt':
        return "c"

df['Transmission'] = df.apply(shorten_transmission_gears, axis=1)

In [187]:
df.head(40)

,Car_Name,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity(L),Engine_Type,CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price
0,highline at (d),volkswagen,ameo,2017,silver,sedan,44611,1,5,d,45,1.5l tdi,1498,7,a,109.00,250.00,21.66,4,657000
1,sx,hyundai,i20 active,2016,red,crossover,20305,1,5,p,45,1.2l kappa,1197,5,m,82.00,115.00,17.19,5,682000
2,vx,honda,wr-v,2019,white,suv,29540,2,5,p,40,i-vtec,1199,5,m,88.50,110.00,16.5,4,793000
3,rxt amt,renault,kwid,2017,bronze,hatchback,35680,1,5,p,28,1.0l,999,5,m,67.00,91.00,21.7,4,414000
4,asta,hyundai,grand i10,2017,orange,hatchback,25126,1,5,p,43,kappa vtvt 1.2l,1197,5,m,81.86,113.75,18.9,5,515000
5,sportz,hyundai,elite i20,2016,red,hatchback,52261,1,5,p,45,kappa vtvt 1.2l,1197,5,m,81.83,114.70,18.6,4,604000
6,v mt,honda,brio,2012,grey,hatchback,28108,2,5,p,35,4 cylinder inline,1198,5,m,86.80,109.00,19.4,3,316000
7,xz,tata,harrier,2019,grey,suv,92603,1,5,d,50,kryotec 2.0 l turbocharge,1956,6,a,138.00,350.00,17.0,4,1419000
8,sportz amt vtvt,hyundai,grand i10 nios,2021,blue,hatchback,16304,1,5,p,37,1.2 l kappa,1197,5,m,81.86,113.75,20.07,4,710000
9,rxt opt,renault,kwid,2019,bronze,hatchback,26350,2,5,p,28,1.0l,999,5,m,67.00,91.00,22.0,4,392000
10,rxt,renault,triber,2020,yellow,muv,35400,1,7,p,40,1.0l,999,5,m,71.00,96.00,20.0,4,613000
11,ltz at,chevrolet,cruze,2013,white,sedan,71450,1,5,d,60,vcdi 16v sohc,1991,6,a,164.00,380.00,17.0,4,598000
12,sx plus dct,hyundai,venue,2019,grey,suv,32395,1,5,p,45,kappa 1.0 l turbo gdi,998,7,a,118.35,171.60,18.15,5,969000
13,xza plus,tata,safari,2021,grey,suv,15059,1,7,d,50,kryotec 2.0 l turbocharged,1956,6,a,167.67,350.00,17.0,4,2100000
14,zxi,maruti suzuki,swift,2019,white,hatchback,31994,1,5,p,37,vtvt,1197,5,m,81.80,113.00,21.21,4,666000
15,j,toyota,yaris,2020,white,sedan,13768,1,5,p,42,1.5 dual vvt-i,1496,c,a,105.94,140.00,17.18,4,1039000
16,creative kaziranga edition,tata,punch,2022,beige,suv,3174,1,5,p,37,1.2 revotron,1199,5,m,84.00,113.00,18.9,4,858000
17,110 ps rxz 4x2 amt,renault,duster,2017,orange,suv,70137,1,5,d,50,dci thp,1461,6,a,108.45,245.00,19.6,5,860000
18,j,toyota,yaris,2018,white,sedan,35913,2,5,p,42,1.5 dual vvt-i,1496,6,a,105.94,140.00,17.18,4,680000
19,magna executive,hyundai,elite i20,2018,blue,hatchback,19056,1,5,p,45,kappa vtvt 1.2l,1197,5,m,82.85,113.70,18.6,5,625000
20,highline1.2l plus (p),volkswagen,ameo,2017,brown,sedan,32492,1,5,p,45,mpi,1198,5,m,73.75,110.00,17.0,5,567000
21,vxi,maruti suzuki,celerio,2014,yellow,hatchback,22598,1,5,p,35,k10b,998,5,m,67.04,90.00,23.1,4,371000
22,sx,hyundai,creta,2019,grey,suv,85981,1,5,d,55,u2 vgt crdi 1.6l,1582,6,a,126.00,260.00,15.8,5,1076000
23,vx dual tone,toyota,etios liva,2017,blue,hatchback,17791,1,5,p,45,"4-cylinder 16v, dohc",1197,5,m,79.00,104.00,18.16,5,587000
24,sportz,hyundai,i10,2016,white,hatchback,26910,2,5,p,35,dohc kappa2,1197,5,m,78.90,111.80,20.36,3,396000
25,zxi,maruti suzuki,swift dzire,2014,blue,sedan,28562,1,5,p,42,k series vvt,1197,5,m,85.80,114.00,19.1,4,554000
26,vtvt sx,hyundai,verna,2019,white,sedan,40345,1,5,p,43,front wheel drive 1.6l,1591,6,a,121.00,158.00,17.4,5,984000
27,vxi amt,maruti suzuki,celerio,2019,grey,hatchback,19550,1,5,p,35,k10b,998,5,m,67.04,90.00,23.1,4,507000
28,sportz,hyundai,elite i20,2017,red,hatchback,54233,1,5,p,45,kappa vtvt 1.2l,1197,5,m,81.83,114.70,18.6,4,586000
29,zeta,maruti suzuki,baleno,2017,blue,hatchback,33113,1,5,p,37,1.2l vvt,1197,5,m,81.80,113.00,21.01,5,639000
30,vxi,maruti suzuki,alto k10,2011,red,hatchback,79565,1,5,p,35,k series,998,5,m,67.10,90.00,20.92,4,237000
31,vx at,honda,amaze,2013,white,sedan,10651,1,5,p,35,"4-cylinder, sohc i-vtec 1.2l",1198,5,m,86.90,109.00,18.0,4,536000
32,rxl amt,renault,kwid,2020,bronze,hatchback,27664,1,5,p,28,1.0l,999,5,m,67.00,91.00,21.7,4,456000
33,asta (o) dct,hyundai,new i20,2021,red,hatchback,13389,1,5,p,37,1.0 l turbo gdi,998,7,a,118.00,172.00,20.2,4,1107000
34,asta (o),hyundai,elite i20,2016,grey,hatchback,30797,2,5,p,45,"1.2 kappa with dual vtvt, 16 valves, 4 cylinder",1197,5,m,82.00,115.00,18.6,4,571000
35,s,honda,mobilio,2015,grey,muv,48947,1,7,p,42,1.5l i-vtec,1497,5,m,118.00,145.00,17.3,4,587000
36,vx at,honda,amaze,2017,white,sedan,37315,1,5,p,35,"4-cylinder, sohc i-vtec 1.2l",1198,5,m,86.90,109.00,18.0,4,629000
37,vxi amt,maruti suzuki,swift,2022,silver,hatchback,11047,1,5,p,37,vtvt,1197,5,m,81.80,113.00,21.21,4,718000
38,sportz,hyundai,i10,2013,silver,hatchback,24858,1,5,p,35,dohc kappa2 1.2l,1197,5,m,78.90,111.80,20.36,3,396000
39,s,hyundai,venue,2022,blue,suv,4839,1,5,p,45,1.2 kappa,1197,5,m,82.00,114.00,17.5,4,877000

In [188]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in ./venv/lib/python3.9/site-packages (1.0.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Users/bfaris96/Desktop/turing-proj/cars_db/venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [189]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./venv/lib/python3.9/site-packages (2.0.18)
Requirement already satisfied: greenlet!=0.4.17 in ./venv/lib/python3.9/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in ./venv/lib/python3.9/site-packages (from sqlalchemy) (4.7.1)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Users/bfaris96/Desktop/turing-proj/cars_db/venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [190]:
from sqlalchemy import create_engine
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

conn = psycopg2.connect(f"host=localhost dbname=car_db user={DB_USER} password={DB_PASSWORD}")

I have to just use strings for most of these fields right now because they are so drastically denormalized and inconsistent. I'm not going to put in a primary key yet, bc I want to delete duplicates first.

In [191]:
try:
    cur = conn.cursor()
    cur.execute("""DROP TABLE IF EXISTS cars""")
    cur.execute("""CREATE TABLE cars(
        name VARCHAR(255),
        make VARCHAR(64),
        model VARCHAR(64),
        year DATE,
        color VARCHAR(64),
        body_style VARCHAR(64),
        mileage INT,
        num_owners INT,
        seating_capacity INT,
        fuel_type VARCHAR(8),
        fuel_capacity INT,
        engine_type VARCHAR(255),
        cc_displacement INT,
        transmission_gears VARCHAR(3),
        transmission_type VARCHAR(3),
        bhp FLOAT,
        torque FLOAT,
        fuel_economy FLOAT,
        emission_class INT,
        price INT)
    """)
except Exception as e:
    print("An error occurred:", e)
    conn.rollback()  # rollback transaction
else:
    conn.commit()  # commit transaction

cur.close()

Loading df into postgres

In [192]:
# rename dataframe columns to match with the table column names
df = df.rename(columns={
    'Car_Name': 'name',
    'Make': 'make',
    'Model': 'model',
    'Make_Year': 'year',
    'Color': 'color',
    'Body_Type': 'body_style',
    'Mileage_Run': 'mileage',
    'No_of_Owners': 'num_owners',
    'Seating_Capacity': 'seating_capacity',
    'Fuel_Type': 'fuel_type',
    'Fuel_Tank_Capacity(L)': 'fuel_capacity',
    'Engine_Type': 'engine_type',
    'CC_Displacement': 'cc_displacement',
    'Transmission': 'transmission_gears',
    'Transmission_Type': 'transmission_type',
    'Power(BHP)': 'bhp',
    'Torque(Nm)': 'torque',
    'Mileage(kmpl)': 'fuel_economy',
    'Emission': 'emission_class',
    'Price': 'price'
})

# create sqlalchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@localhost/car_db")

# Use 'replace' if you want to replace an existing table with the same name.
df.to_sql('cars', engine, if_exists='replace', index=False)

914

In [193]:
from sqlalchemy import create_engine, text
# Confirm that the data has been loaded successfully
with engine.connect() as conn:
    result_set = conn.execute(text("SELECT * FROM cars LIMIT 10"))
    for row in result_set:
        print(row)

('highline at (d)', 'volkswagen', 'ameo', 2017, 'silver', 'sedan', '44611', 1, 5, 'd', 45, '1.5l tdi', 1498, '7', 'a', 109.0, 250.0, '21.66', 4, '657000')
('sx', 'hyundai', 'i20 active', 2016, 'red', 'crossover', '20305', 1, 5, 'p', 45, '1.2l kappa', 1197, '5', 'm', 82.0, 115.0, '17.19', 5, '682000')
('vx', 'honda', 'wr-v', 2019, 'white', 'suv', '29540', 2, 5, 'p', 40, 'i-vtec', 1199, '5', 'm', 88.5, 110.0, '16.5', 4, '793000')
('rxt amt', 'renault', 'kwid', 2017, 'bronze', 'hatchback', '35680', 1, 5, 'p', 28, '1.0l', 999, '5', 'm', 67.0, 91.0, '21.7', 4, '414000')
('asta', 'hyundai', 'grand i10', 2017, 'orange', 'hatchback', '25126', 1, 5, 'p', 43, 'kappa vtvt 1.2l', 1197, '5', 'm', 81.86, 113.75, '18.9', 5, '515000')
('sportz', 'hyundai', 'elite i20', 2016, 'red', 'hatchback', '52261', 1, 5, 'p', 45, 'kappa vtvt 1.2l', 1197, '5', 'm', 81.83, 114.7, '18.6', 4, '604000')
('v mt', 'honda', 'brio', 2012, 'grey', 'hatchback', '28108', 2, 5, 'p', 35, '4 cylinder inline', 1198, '5', 'm', 86.8, 109.0, '19.4', 3, '316000')
('xz', 'tata', 'harrier', 2019, 'grey', 'suv', '92603', 1, 5, 'd', 50, 'kryotec 2.0 l turbocharge', 1956, '6', 'a', 138.0, 350.0, '17.0', 4, '1419000')
('sportz amt vtvt', 'hyundai', 'grand i10 nios', 2021, 'blue', 'hatchback', '16304', 1, 5, 'p', 37, '1.2 l kappa', 1197, '5', 'm', 81.86, 113.75, '20.07', 4, '710000')
('rxt opt', 'renault', 'kwid', 2019, 'bronze', 'hatchback', '26350', 2, 5, 'p', 28, '1.0l', 999, '5', 'm', 67.0, 91.0, '22.0', 4, '392000')

In [200]:
with engine.connect() as conn:
    conn.execute(text("CREATE EXTENSION IF NOT EXISTS pgcrypto"))
    conn.execute(text("ALTER TABLE cars ADD COLUMN id UUID PRIMARY KEY DEFAULT uuid_generate_v4()"))
    conn.commit()

In [201]:
with engine.connect() as conn:
    result_set = conn.execute(text("SELECT * FROM cars LIMIT 10"))
    for row in result_set:
        print(row)

('highline at (d)', 'volkswagen', 'ameo', 2017, 'silver', 'sedan', '44611', 1, 5, 'd', 45, '1.5l tdi', 1498, '7', 'a', 109.0, 250.0, '21.66', 4, '657000', UUID('1018ce76-de85-442c-b1d7-9d5955eb1a27'))
('sx', 'hyundai', 'i20 active', 2016, 'red', 'crossover', '20305', 1, 5, 'p', 45, '1.2l kappa', 1197, '5', 'm', 82.0, 115.0, '17.19', 5, '682000', UUID('82fa9810-f5eb-469d-a391-50590e65e7a7'))
('vx', 'honda', 'wr-v', 2019, 'white', 'suv', '29540', 2, 5, 'p', 40, 'i-vtec', 1199, '5', 'm', 88.5, 110.0, '16.5', 4, '793000', UUID('cec4c15c-02e1-4ae7-bd71-b9b52ac01407'))
('rxt amt', 'renault', 'kwid', 2017, 'bronze', 'hatchback', '35680', 1, 5, 'p', 28, '1.0l', 999, '5', 'm', 67.0, 91.0, '21.7', 4, '414000', UUID('901019da-8b6b-4dca-888e-b47f13be6680'))
('asta', 'hyundai', 'grand i10', 2017, 'orange', 'hatchback', '25126', 1, 5, 'p', 43, 'kappa vtvt 1.2l', 1197, '5', 'm', 81.86, 113.75, '18.9', 5, '515000', UUID('06f01826-0c51-4fcb-af39-c6c08d30f072'))
('sportz', 'hyundai', 'elite i20', 2016, 'red', 'hatchback', '52261', 1, 5, 'p', 45, 'kappa vtvt 1.2l', 1197, '5', 'm', 81.83, 114.7, '18.6', 4, '604000', UUID('421b10c9-bc5f-40d0-b670-81adca293dcf'))
('v mt', 'honda', 'brio', 2012, 'grey', 'hatchback', '28108', 2, 5, 'p', 35, '4 cylinder inline', 1198, '5', 'm', 86.8, 109.0, '19.4', 3, '316000', UUID('74674018-a5d5-4cbb-b973-e21af60e39ab'))
('xz', 'tata', 'harrier', 2019, 'grey', 'suv', '92603', 1, 5, 'd', 50, 'kryotec 2.0 l turbocharge', 1956, '6', 'a', 138.0, 350.0, '17.0', 4, '1419000', UUID('5dd4b9fe-d1d5-463f-a353-09b65f143a84'))
('sportz amt vtvt', 'hyundai', 'grand i10 nios', 2021, 'blue', 'hatchback', '16304', 1, 5, 'p', 37, '1.2 l kappa', 1197, '5', 'm', 81.86, 113.75, '20.07', 4, '710000', UUID('ddc7f54f-411e-4fd6-a5ed-2ffa9a29ceab'))
('rxt opt', 'renault', 'kwid', 2019, 'bronze', 'hatchback', '26350', 2, 5, 'p', 28, '1.0l', 999, '5', 'm', 67.0, 91.0, '22.0', 4, '392000', UUID('926a2087-2008-46fc-8841-2cfb6fb966cb'))

2023-7-11

We're pretty close on the DB just need to rename columns, validate data types, and put in ID columns

1. The db is in 1NF because each cell contains a single value

* ACTUALLY THIS IS NOT TRUE. YOU NEED TO SPLIT OUT LITERS