# I will ingest a CSV into postgresql and normalize it.
# Or will I normalize it partly in python and then ingest and do finishing touches?
First creating and initiating our venv:

In [170]:
# python3 -m venv venv

In [171]:
# . venv/bin/activate

Let's ingest to a df

In [172]:
# pip install pandas

In [173]:
import pandas as pd

df = pd.read_csv("/Users/bfaris96/Desktop/turing-proj/cars_db/FINAL_SPINNY_900.csv")

In [174]:
df.shape

(976, 20)

In [175]:
# df.head(15)

Checking for any nulls:

In [176]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [Car_Name, Make, Model, Make_Year, Color, Body_Type, Mileage_Run, No_of_Owners, Seating_Capacity, Fuel_Type, Fuel_Tank_Capacity(L), Engine_Type, CC_Displacement, Transmission, Transmission_Type, Power(BHP), Torque(Nm), Mileage(kmpl), Emission, Price]
Index: []

Stripping extra whitespace:

In [177]:
df = df.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

Forcing lowercase:

In [178]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

Eliminating duplicate entries:

In [179]:
df = df.drop_duplicates()

In [180]:
df.shape

(914, 20)

In [181]:
df["Engine_Type"].value_counts()

Engine_Type
kappa vtvt petrol engine                                                                                       77
petrol engine                                                                                                  41
k10b                                                                                                           38
1.2l vvt engine                                                                                                28
front wheel drive                                                                                              26
k series petrol engine                                                                                         24
fwd                                                                                                            23
1.2 litre petrol engine                                                                                        23
i-vtec petrol engine                                                                                           21
f8d petrol engine                                                                                              21
i vtec engine                                                                                                  19
k10b petrol engine                                                                                             18
1.2 kappa petrol with dual vtvt, 16 valves, 4 cylinder                                                         18
dohc kappa2 engine                                                                                             18
mpi petrol engine                                                                                              16
ddis diesel engine                                                                                             16
k15 smart hybrid petrol e                                                                                      16
1.5 dual vvt-i engine                                                                                          14
4 cylinder mhawk crde diesel engine                                                                            14
1.2l kappa 5 speed manual transmission                                                                         13
kappa 1.0 l turbo gdi petrol                                                                                   13
inline 4 cylinder petrol engine                                                                                13
petrol dual vtvt                                                                                               12
4 cylinder inline petrol engine                                                                                12
vtvt engine                                                                                                    11
1.0l petrol engine                                                                                             11
ti-vct petrol engine                                                                                           11
aluminium 32 bit                                                                                               10
u2 vgt crdi                                                                                                    10
1.2l kappa dual vtvt petr                                                                                      10
k14b vvt engine                                                                                                10
u2 crdi diesel engine                                                                                           9
tdci diesel engine                                                                                              9
1.2 kappa dual vtvt petrol                                                                                      8
1.5l ti-vct (petrol)                                                                                            8
vtvt petrol engine                                                                                              8
k series vvt engine                                                                                             7
1.5l dv5 (diesel)                                                                                               7
smartstream g1.4 t-gdi                                                                                          7
kappa petrol engine                                                                                             7
1.0l energy                                                                                                     7
1.2 i-vtec petrol                                                                                               7
1.1 l petrol                                                                                                    6
kb series                                                                                                       6
ddis 200                                                                                                        6
4-cylinder 16v, dohc                                                                                            6
dci thp diesel engine                                                                                           6
1.2 l kappa petrol                                                                                              6
in-line engine                                                                                                  6
1.5 dci k9k thp diesel engine                                                                                   5
kappa engine                                                                                                    5
i-dtec diesel engine                                                                                            5
4 cylinder petrol engine                                                                                        5
4-cylinder, sohc i-vtec                                                                                         5
1.0 l turbo gdi                                                                                                 5
1.2 l revotron                                                                                                  5
1.2-litre vvt petrol engine                                                                                     5
kryotec 2.0 l turbocharge                                                                                       5
1.2 revotron                                                                                                    4
k 14b vvt                                                                                                       4
f8d                                                                                                             4
1.5l i-vtec dohc with vtc petrol engine                                                                         4
16 valves, 4 cylinder                                                                                           4
4 stroke cycle, water cooled                                                                                    4
k10b engine                                                                                                     4
1.5 l mpi                                                                                                       4
tdi diesel engine                                                                                               3
1.5 h4k petrol                                                                                                  3
4 cylinder inline petrol                                                                                        3
1.0l                                                                                                            3
ddis 200 diesel engine                                                                                          3
1.5l i-vtec                                                                                                     3
0.8l                                                                                                            3
k-series petrol engine with vvt                                                                                 3
1.0l mpi petrol                                                                                                 3
1.6l gamma vtvt 5 speed manual transmission                                                                     3
4 cylinder inline                                                                                               3
2.0-litre 4-cyl multijet                                                                                        3
1.0l hrao turbo                                                                                                 3
dohc with dual vtvt                                                                                             2
revotron engine                                                                                                 2
1.5l turbo diesel                                                                                               2
1.5l i-vtec petrol engine                                                                                       2
turbocharged petrol engine, in-line, liquid cooling system, direct injection, 16v dohc, transverse in front     2
1.5l, sohc, 4-cylinder, i-vtec                                                                                  2
s-tec ii                                                                                                        2
vcdi 16v sohc                                                                                                   2
1.5 dci k9k hp diesel engine                                                                                    2
1.0l ecoboost (petrol)                                                                                          2
4 cylinder inline diesel engine                                                                                 2
diesel engine                                                                                                   2
1.4 u ii 6 speed manual transmission                                                                            2
1.5 l u2 crdi                                                                                                   1
smartstream g1.5                                                                                                1
1.5l tdi engine                                                                                                 1
ecoboost petrol engine                                                                                          1
k12m petrol engine                                                                                              1
1.0 l kappa turbo gdi                                                                                           1
1.2 l petrol engine                                                                                             1
dci diesel with vgt                                                                                             1
16v dohc                                                                                                        1
ddis                                                                                                            1
3 cylinder petrol engine                                                                                        1
624 cc, 2 cylinder, mpfi                                                                                        1
renault k9k diesel engine                                                                                       1
1.5l revotorq turbocharged                                                                                      1
0.8l petrol engine                                                                                              1
2zr-fe, gasoline, 4 cylinder inline                                                                             1
1.6l u2 crdi vgt 6 speed manual transmission                                                                    1
1.0 xsde                                                                                                        1
kryotec 2.0 l turbocharged engine                                                                               1
1.2 kappa                                                                                                       1
mhawk                                                                                                           1
2.0 l kryotec                                                                                                   1
1.4l gdi turbo petrol                                                                                           1
tsi engine                                                                                                      1
ddis diesel,crdi                                                                                                1
dci diesel with fixed geometry turbo                                                                            1
mhawk diesel engine                                                                                             1
revotron 1.2 t                                                                                                  1
k15b smart hybrid                                                                                               1
2.0-litre 4-cyl multijet ii engine                                                                              1
1.5 litre turbochaged petrol engine                                                                             1
xsde smartech                                                                                                   1
i-dtec                                                                                                          1
2 cylinder, mpfi, gasoline                                                                                      1
tdci                                                                                                            1
1.5 l turbocharged revotorq                                                                                     1
multijet/ddis                                                                                                   1
1.5l petrol                                                                                                     1
1.5 litre diesel engine                                                                                         1
Name: count, dtype: int64

Removing all non-numeric characters from mileage and price columns

In [182]:
df['Mileage_Run'] = df['Mileage_Run'].str.replace(r'\D', '', regex=True)
df['Price'] = df['Price'].str.replace(r'\D', '', regex=True)

Removing year range from name field:

In [183]:
import re

def remove_date_name(row):
    # Split the car name field into individual words/phrases
    name_list = list(row["Car_Name"].split())

    # Create regex to match [2000-2018] type strings in name
    year_pattern = re.compile(r"\[(\d{4})-(\d{4})\]")
    year_match = re.search(year_pattern, row["Car_Name"])

    # Remove from name list if match found
    if year_match is not None and year_match.group(0) in name_list:
        name_list.remove(year_match.group(0))

    return " ".join(name_list)
    
df["Car_Name"] = df.apply(remove_date_name, axis=1)

In [184]:
import re

def clean_engine(df):
    engine_string = df["Engine_Type"]
    # Remove the pattern of number followed by the word "speed"
    engine_string = re.sub(r'\b\d+\s*speed\b', '', engine_string)

    # Now we split the string into a list of words
    engine_list = engine_string.split()

    # Define the list of unwanted words
    unwanted_words = ["petrol", "(petrol)", "diesel", "(diesel)", "cng", "(cng)", "lpg", "electric", "petrol+cng", "petrol+electric", "engine", "automatic", "manual", "transmission"]

    # Create a new list with only the words that are not in unwanted_words
    engine_list = [word for word in engine_list if word not in unwanted_words]

    # Join the words back together into a string
    new_engine = " ".join(engine_list)
    return new_engine

df["Engine_Type"] = df.apply(clean_engine, axis=1)

Inserting engine_litres columns:

In [185]:
df['engine_litres'] = None

2023-7-12 we have to chang ethis to split liters out into the new column from name or engine type. also update db schema

In [186]:

def move_liters(row):

    # Create a regular expression to match engine sizes in litres (e.g., 2.5l)
    liter_pattern = re.compile(r"\b\d+\.\d+[lL]\b")
    
    # Create a regular expression to match numeric values (e.g., 2.5)
    no_l_liter_pattern = re.compile(r"\b\d+\.\d+\b")

    fields = [row["Car_Name"], row["Engine_Type"]]

    for pattern in [liter_pattern, no_l_liter_pattern]:
        for field in fields:
            match = re.search(pattern, field)
            if match is not None:
                if pattern == liter_pattern:
                    return match.group(0)[:-1]
                elif pattern == no_l_liter_pattern:
                    return match.group(0)
    return None

df['engine_litres'] = df.apply(move_liters, axis=1)

More patterns to be removed left over from litre information:

In [187]:
# Regular expression patterns to be removed
patterns = [
    r"\b\d+\.\d+\s[lL]\b", # Matches '1.2 l' or '2.2 l' with a space before the 'l'
    r"\b\d+\.\d+[lL]?\b", # Matches '1.6l' or '1.9l' with no space before the 'l' and 'l' is optional
    r"( litre)|(-litre)", # Matches ' litre' or '-litre'
    r"gasoline", # Matches 'gasoline'
]

# Apply each pattern to each column
for column in ["Car_Name", "Engine_Type"]:
    for pattern in patterns:
        df[column] = df[column].apply(lambda x: re.sub(pattern, "", x))

Remove redundant words from car name field:

In [189]:
def clean_name(row):

    # Initialize a list to store the cleaned name
    new_name_list = list()

    # Split the name, engine type, car make and model into individual words
    name_list = row["Car_Name"].split()
    make_words = row["Make"].split()
    model_words = row["Model"].split()
    engine_type_words = row["Engine_Type"].split()

    # For each word in the car name, if it is not in the engine type, make, model or other row values, add it to the new name
    for word in name_list:
        if word not in engine_type_words and word not in model_words and word not in make_words and word not in row["Fuel_Type"]:
            new_name_list.append(word)

    return " ".join(new_name_list)

df["Car_Name"] = df.apply(clean_name, axis=1)

Remove drive train info from engine type, put in new drive train column:

In [190]:
df["drive_train"] = None

In [191]:
def move_drive_train(row):
    # Create a regular expression to match drive train types
    drive_train_pattern = re.compile(r"\b\w+\s+wheel\s+drive\b")

    match = re.search(drive_train_pattern, row["Engine_Type"])
    if match is not None:
        return match.group(0)

df["drive_train"] = df.apply(move_drive_train, axis=1)

Remove drive train from engine type:

In [192]:
drive_train_pattern = re.compile(r"\b\w+\s+wheel\s+drive\b")
df["Engine_Type"] = df["Engine_Type"].apply(lambda x: re.sub(drive_train_pattern, "", x))

To standardize and constrain columns, I'll get all the unique values for relevant columns:

In [193]:
columns = ['Car_Name', 'Make', 'Model', 'Color', 'Body_Type','No_of_Owners','Fuel_Type', 'Engine_Type','Transmission','Transmission_Type', 'Emission']
for column in columns:
    print(df[column].value_counts())

Car_Name
vxi                           74
sportz                        51
sx                            30
asta                          28
alpha                         27
vx                            25
titanium                      23
magna                         23
vxi amt                       19
v                             17
s                             16
asta (o)                      16
lxi                           13
sharp                         12
vx cvt                        12
zxi                           11
rxt opt                       11
zxi amt                       11
sx plus auto                   9
sx plus                        9
zxi plus                       9
vdi                            9
g                              8
sharp dct at                   8
rxz                            8
vxi+                           8
zeta                           8
highline1.2l (p)               8
sx (o)                         7
vxi (o)                        7
alpha at                       7
zxi plus amt                   6
rxt                            6
delta                          6
era +                          6
ac 5 str                       6
v mt                           6
comfortline (p)                6
zeta at                        6
zxi+                           5
s at                           5
sx opt                         5
magna +                        5
era                            5
vxi plus                       5
vtvt sx                        5
zx cvt                         5
xz                             5
110 ps rxz 4x2 amt             5
j                              5
s4 plus                        4
fluidic vtvt sx                4
zdi                            4
titanium + at                  4
sx (o) at                      4
vxi amt (o)                    4
asta at                        4
gtx plus                       4
sv mt                          4
rxl                            4
titanium at                    4
5 str with a/c+htr             4
sportz plus                    4
w8                             4
zdi + shvs                     3
xt                             3
ls                             3
8 str bs-iv                    3
gls                            3
zxi at                         3
gtx plus dct                   3
sportz crdi                    3
rxz amt                        3
sportz amt vtvt                3
sportz at                      3
sx opt ivt                     3
zx                             3
sx plus dct                    3
rxt dual tone                  3
xz dual tone                   3
asta imt                       3
w10                            2
trend tdci                     2
highline (d)                   2
sx at (o)                      2
alpha(petrol)                  2
rxz mt dual tone               2
85 ps rxl (opt)                2
                               2
v cvt                          2
comfortline tdi                2
asta mt                        2
fluidic vtvt sx opt            2
s10 at                         2
zdi plus at dual tone          2
sportz vtvt                    2
rxt sce special (o)            2
zdi plus dual tone             2
sportz (o)                     2
s10                            2
110 ps rxl 4x2 mt              2
titanium plus                  2
highline at                    2
fluidic crdi sx opt at         2
crdi sx (o)                    2
sportz mt                      2
alpha amt                      2
crdi sx                        2
zeta amt                       2
asta (o) dct                   2
rxz amt dual tone              2
vx at                          2
vx dual tone                   2
highline1.2l plus (p)          2
magna executive                2
85 ps rxz 4x2 mt               2
titanium + tdci                2
ltz at                         2
lxi anniversary edition        2
fluidic crdi sx                2
magna plus                     2
titanium tdci (opt)            2
vx mt                          2
climber amt                    2
xz plus                        2
era + se                       2
zdi amt                        1
alpha mt                       1
vtvt sx (o)                    1
vxi opt                        1
w8 (o)                         1
vdi (o)                        1
xv safety pack                 1
fluidic vtvt sx at             1
lx                             1
trend+                         1
fluidic vtvt sx opt at         1
85 ps rxl explore              1
elegance tsi at                1
era + (o)                      1
hybrid smart                   1
ps                             1
sv                             1
era executive                  1
rxe                            1
vxi at                         1
elegance mt                    1
110 ps rxz                     1
v at                           1
elegance mpi at                1
s6 plus                        1
xv premium cvt                 1
zxi+ at                        1
duratec zxi                    1
rxt mt dual tone               1
110 ps rxz 4x2 mt              1
sx vtvt                        1
htx g                          1
5 str bs-iv                    1
creative dual tone             1
highline at (d)                1
trend + tdci                   1
sigma                          1
creative ira dual tone         1
110 ps rxl                     1
zdi plus                       1
limited 4x4                    1
xv premium cvt (o)             1
highline plus (p)              1
highline                       1
xz plus turbo                  1
trendline (p)                  1
s (o)                          1
xv premium (o)                 1
sx opt dct                     1
sx at                          1
xza+                           1
xza plus dark edition at       1
t8 mhawk100 amt                1
vdi amt                        1
asta (o) mt                    1
accomplished amt               1
rxl amt                        1
creative kaziranga edition     1
j cvt                          1
xza plus                       1
rxt amt                        1
s9                             1
hybrid sharp dct dual tone     1
zxi (o) amt                    1
l&k tsi at                     1
(o)                            1
ambition mt                    1
all star (d)                   1
titanium+                      1
asta crdi                      1
rxs                            1
asta dual tone                 1
s mt                           1
climber amt opt                1
xe                             1
titanium1.5                    1
plus auto                      1
longitude (o)                  1
vxi abs                        1
vxi (abs) at                   1
zxi (o)                        1
d-lite+                        1
rxz turbo cvt                  1
limited                        1
rxt mt                         1
sharp turbo dct 6-str          1
titanium +                     1
magna corporate edition        1
limited (o)                    1
flair edition                  1
Name: count, dtype: int64
Make
hyundai          293
maruti suzuki    285
honda             73
renault           66
ford              46
toyota            30
volkswagen        27
tata              23
mg motors         23
mahindra          18
kia                8
chevrolet          6
skoda              5
nissan             4
jeep               4
datsun             3
Name: count, dtype: int64
Model
elite i20           64
i10                 36
grand i10           35
baleno              32
verna               32
ciaz                30
kwid                28
city                28
ecosport            27
alto k10            27
celerio             26
creta               26
alto 800            25
hector              22
swift               22
dzire               21
xcent               20
ritz                20
eon                 17
i20 active          15
amaze               14
wagon r 1.0         14
yaris               14
s-presso            14
venue               14
duster              14
wr-v                13
polo                13
jazz                12
triber              11
scorpio             10
swift dzire         10
eeco                10
figo                 9
ameo                 9
ertiga               8
seltos               8
vitara brezza        8
i20                  8
kiger                7
etios liva           7
new i20              6
harrier              6
s-cross              6
altroz               6
new santro 1.1       6
freestyle            6
xuv500               5
fluidic verna 4s     5
ignis                5
grand i10 nios       5
omni                 4
figo aspire          4
beat                 4
etios                4
punch                4
compass              4
glanza               4
rapid                3
brio                 3
captur               3
magnite              3
mobilio              3
vento                3
santro xing          3
go                   2
cruze                2
superb               2
xuv 300              2
jetta                2
lodgy                2
tiago                2
nano                 1
scala                1
micra active         1
nexon                1
wagon r 1.2          1
tuv300               1
alto                 1
verna transform      1
redi-go              1
nano genx            1
a-star               1
zest                 1
corolla altis        1
safari               1
hector plus          1
Name: count, dtype: int64
Color
white     188
red       167
grey      156
silver    126
blue      122
brown      62
black      35
orange     19
bronze     12
beige       9
yellow      6
purple      4
golden      3
maroon      3
green       2
Name: count, dtype: int64
Body_Type
hatchback    462
sedan        207
suv          186
muv           38
crossover     21
Name: count, dtype: int64
No_of_Owners
1st    770
2nd    140
3rd      4
Name: count, dtype: int64
Fuel_Type
petrol        749
diesel        163
petrol+cng      2
Name: count, dtype: int64
Engine_Type
                                                                                                        119
kappa vtvt                                                                                               77
k10b                                                                                                     60
 vvt                                                                                                     33
f8d                                                                                                      25
k series                                                                                                 24
fwd                                                                                                      23
i-vtec                                                                                                   21
4 cylinder inline                                                                                        20
 kappa                                                                                                   20
vtvt                                                                                                     19
i vtec                                                                                                   19
 kappa with dual vtvt, 16 valves, 4 cylinder                                                             18
dohc kappa2                                                                                              18
ddis                                                                                                     17
mpi                                                                                                      16
k15 smart hybrid e                                                                                       16
4 cylinder mhawk crde                                                                                    14
 dual vvt-i                                                                                              14
inline 4 cylinder                                                                                        13
kappa  turbo gdi                                                                                         13
dual vtvt                                                                                                12
 i-vtec                                                                                                  12
kappa                                                                                                    12
ti-vct                                                                                                   11
k14b vvt                                                                                                 10
u2 vgt crdi                                                                                              10
tdci                                                                                                     10
aluminium 32 bit                                                                                         10
 kappa dual vtvt petr                                                                                    10
 revotron                                                                                                 9
u2 crdi                                                                                                   9
ddis 200                                                                                                  9
 kappa dual vtvt                                                                                          8
 ti-vct                                                                                                   8
 energy                                                                                                   7
 mpi                                                                                                      7
 dv5                                                                                                      7
smartstream g1.4 t-gdi                                                                                    7
k series vvt                                                                                              7
in-line                                                                                                   6
4-cylinder 16v, dohc                                                                                      6
dci thp                                                                                                   6
kb series                                                                                                 6
i-dtec                                                                                                    6
4 cylinder                                                                                                5
 turbo gdi                                                                                                5
4-cylinder, sohc i-vtec                                                                                   5
 dci k9k thp                                                                                              5
kryotec  turbocharge                                                                                      5
16 valves, 4 cylinder                                                                                     4
k 14b vvt                                                                                                 4
4 stroke cycle, water cooled                                                                              4
 i-vtec dohc with vtc                                                                                     4
k-series with vvt                                                                                         3
tdi                                                                                                       3
 gamma vtvt                                                                                               3
 h4k                                                                                                      3
 4-cyl multijet                                                                                           3
 hrao turbo                                                                                               3
s-tec ii                                                                                                  2
vcdi 16v sohc                                                                                             2
 u ii                                                                                                     2
 ecoboost                                                                                                 2
 dci k9k hp                                                                                               2
revotron                                                                                                  2
turbocharged engine, in-line, liquid cooling system, direct injection, 16v dohc, transverse in front      2
mhawk                                                                                                     2
, sohc, 4-cylinder, i-vtec                                                                                2
dohc with dual vtvt                                                                                       2
 turbo                                                                                                    2
renault k9k                                                                                               1
 revotorq turbocharged                                                                                    1
ecoboost                                                                                                  1
624 cc, 2 cylinder, mpfi                                                                                  1
k12m                                                                                                      1
3 cylinder                                                                                                1
 u2 crdi                                                                                                  1
16v dohc                                                                                                  1
dci with vgt                                                                                              1
 kappa turbo gdi                                                                                          1
smartstream g1.5                                                                                          1
 tdi                                                                                                      1
 u2 crdi vgt                                                                                              1
 xsde                                                                                                     1
kryotec  turbocharged                                                                                     1
 kryotec                                                                                                  1
 gdi turbo                                                                                                1
tsi                                                                                                       1
ddis diesel,crdi                                                                                          1
dci with fixed geometry turbo                                                                             1

Now I'll convert owner ordinals to an int:

In [194]:
def owner_to_int(df):
    if df['No_of_Owners'] == '1st':
        return 1
    elif df['No_of_Owners'] == '2nd':
        return 2
    elif df['No_of_Owners'] == '3rd':
        return 3
    elif df['No_of_Owners'] == '4th':
        return 4
    elif df['No_of_Owners'] == '5th':
        return 5


df['No_of_Owners'] = df.apply(owner_to_int, axis=1)

Now I'll convert emission type to 1 character:

In [195]:
def emission_to_int(df):
    if df['Emission'] == 'bs iv':
        return 4
    elif df['Emission'] == 'bs iii':
        return 3
    elif df['Emission'] == 'bs vi':
        return 6
    elif df['Emission'] == 'bs v':
        return 5
    elif df['Emission'] == 'bs ii':
        return 2

df['Emission'] = df.apply(emission_to_int, axis=1)

Now I will shorten fuel type to 1-2 characters

In [196]:
def shorten_fuel_type(df):
    if df['Fuel_Type'] == 'diesel':
        return 'd'
    elif df['Fuel_Type'] == 'petrol':
        return 'p'
    elif df['Fuel_Type'] == 'petrol+cng':
        return 'pc'
    elif df['Fuel_Type'] == 'cng':
        return 'c'
    elif df['Fuel_Type'] == 'lpg':
        return 'l'
    elif df['Fuel_Type'] == 'electric':
        return 'e'
    elif df['Fuel_Type'] == 'petrol+electric':
        return 'pe'

df['Fuel_Type'] = df.apply(shorten_fuel_type, axis=1)

Now I will shorten the transmission type to 1 character:

In [197]:
def shorten_transmission_type(df):
    if df['Transmission_Type'] == 'manual':
        return 'm'
    elif df['Transmission_Type'] == 'automatic':
        return 'a'

df['Transmission_Type'] = df.apply(shorten_transmission_type, axis=1)

Now I will shorten the transmission gears field to 1 character:

In [198]:
def shorten_transmission_gears(df):
    if df['Transmission'] == '7-speed':
        return 7
    elif df['Transmission'] == '6-speed':
        return 6
    elif df['Transmission'] == '5-speed':
        return 5
    elif df['Transmission'] == '4-speed':
        return 4
    elif df['Transmission'] == 'cvt':
        return "c"

df['Transmission'] = df.apply(shorten_transmission_gears, axis=1)

Shorten the drive train field:

In [199]:
def shorten_drive_train(df):
    if df['drive_train'] == 'front wheel drive':
        return 'fwd'
    elif df['drive_train'] == 'rear wheel drive':
        return 'rwd'
    elif df['drive_train'] == 'all wheel drive':
        return 'awd'
    elif df['drive_train'] == 'four wheel drive':
        return '4wd'
    
df['drive_train'] = df.apply(shorten_drive_train, axis=1)

Strip whitespace and commas:

In [200]:
df["Engine_Type"] = df["Engine_Type"].str.rstrip()
df["Engine_Type"] = df["Engine_Type"].str.lstrip()
# Strip commas
df["Engine_Type"] = df["Engine_Type"].str.replace(",", "")
df["Engine_Type"] = df["Engine_Type"].str.replace("  ", " ")

In [201]:
import pandas as pd

# Set the max number of rows to None (no limit)
pd.set_option('display.max_rows', None)

for column in df.columns:
    print(f"\nValue counts for {column}:")
    print(df[column].value_counts())

Value counts for Car_Name:
Car_Name
vxi                           74
sportz                        51
sx                            30
asta                          28
alpha                         27
vx                            25
titanium                      23
magna                         23
vxi amt                       19
v                             17
s                             16
asta (o)                      16
lxi                           13
sharp                         12
vx cvt                        12
zxi                           11
rxt opt                       11
zxi amt                       11
sx plus auto                   9
sx plus                        9
zxi plus                       9
vdi                            9
g                              8
sharp dct at                   8
rxz                            8
vxi+                           8
zeta                           8
highline1.2l (p)               8
sx (o)                         7
vxi (o)                        7
alpha at                       7
zxi plus amt                   6
rxt                            6
delta                          6
era +                          6
ac 5 str                       6
v mt                           6
comfortline (p)                6
zeta at                        6
zxi+                           5
s at                           5
sx opt                         5
magna +                        5
era                            5
vxi plus                       5
vtvt sx                        5
zx cvt                         5
xz                             5
110 ps rxz 4x2 amt             5
j                              5
s4 plus                        4
fluidic vtvt sx                4
zdi                            4
titanium + at                  4
sx (o) at                      4
vxi amt (o)                    4
asta at                        4
gtx plus                       4
sv mt                          4
rxl                            4
titanium at                    4
5 str with a/c+htr             4
sportz plus                    4
w8                             4
zdi + shvs                     3
xt                             3
ls                             3
8 str bs-iv                    3
gls                            3
zxi at                         3
gtx plus dct                   3
sportz crdi                    3
rxz amt                        3
sportz amt vtvt                3
sportz at                      3
sx opt ivt                     3
zx                             3
sx plus dct                    3
rxt dual tone                  3
xz dual tone                   3
asta imt                       3
w10                            2
trend tdci                     2
highline (d)                   2
sx at (o)                      2
alpha(petrol)                  2
rxz mt dual tone               2
85 ps rxl (opt)                2
                               2
v cvt                          2
comfortline tdi                2
asta mt                        2
fluidic vtvt sx opt            2
s10 at                         2
zdi plus at dual tone          2
sportz vtvt                    2
rxt sce special (o)            2
zdi plus dual tone             2
sportz (o)                     2
s10                            2
110 ps rxl 4x2 mt              2
titanium plus                  2
highline at                    2
fluidic crdi sx opt at         2
crdi sx (o)                    2
sportz mt                      2
alpha amt                      2
crdi sx                        2
zeta amt                       2
asta (o) dct                   2
rxz amt dual tone              2
vx at                          2
vx dual tone                   2
highline1.2l plus (p)          2
magna executive                2
85 ps rxz 4x2 mt               2
titanium + tdci                2
ltz at                         2
lxi anniversary edition        2
fluidic crdi sx                2
magna plus                     2
titanium tdci (opt)            2
vx mt                          2
climber amt                    2
xz plus                        2
era + se                       2
zdi amt                        1
alpha mt                       1
vtvt sx (o)                    1
vxi opt                        1
w8 (o)                         1
vdi (o)                        1
xv safety pack                 1
fluidic vtvt sx at             1
lx                             1
trend+                         1
fluidic vtvt sx opt at         1
85 ps rxl explore              1
elegance tsi at                1
era + (o)                      1
hybrid smart                   1
ps                             1
sv                             1
era executive                  1
rxe                            1
vxi at                         1
elegance mt                    1
110 ps rxz                     1
v at                           1
elegance mpi at                1
s6 plus                        1
xv premium cvt                 1
zxi+ at                        1
duratec zxi                    1
rxt mt dual tone               1
110 ps rxz 4x2 mt              1
sx vtvt                        1
htx g                          1
5 str bs-iv                    1
creative dual tone             1
highline at (d)                1
trend + tdci                   1
sigma                          1
creative ira dual tone         1
110 ps rxl                     1
zdi plus                       1
limited 4x4                    1
xv premium cvt (o)             1
highline plus (p)              1
highline                       1
xz plus turbo                  1
trendline (p)                  1
s (o)                          1
xv premium (o)                 1
sx opt dct                     1
sx at                          1
xza+                           1
xza plus dark edition at       1
t8 mhawk100 amt                1
vdi amt                        1
asta (o) mt                    1
accomplished amt               1
rxl amt                        1
creative kaziranga edition     1
j cvt                          1
xza plus                       1
rxt amt                        1
s9                             1
hybrid sharp dct dual tone     1
zxi (o) amt                    1
l&k tsi at                     1
(o)                            1
ambition mt                    1
all star (d)                   1
titanium+                      1
asta crdi                      1
rxs                            1
asta dual tone                 1
s mt                           1
climber amt opt                1
xe                             1
titanium1.5                    1
plus auto                      1
longitude (o)                  1
vxi abs                        1
vxi (abs) at                   1
zxi (o)                        1
d-lite+                        1
rxz turbo cvt                  1
limited                        1
rxt mt                         1
sharp turbo dct 6-str          1
titanium +                     1
magna corporate edition        1
limited (o)                    1
flair edition                  1
Name: count, dtype: int64

Value counts for Make:
Make
hyundai          293
maruti suzuki    285
honda             73
renault           66
ford              46
toyota            30
volkswagen        27
tata              23
mg motors         23
mahindra          18
kia                8
chevrolet          6
skoda              5
nissan             4
jeep               4
datsun             3
Name: count, dtype: int64

Value counts for Model:
Model
elite i20           64
i10                 36
grand i10           35
baleno              32
verna               32
ciaz                30
kwid                28
city                28
ecosport            27
alto k10            27
celerio             26
creta               26
alto 800            25
hector              22
swift               22
dzire               21
xcent               20
ritz                20
eon                 17
i20 active          15
amaze               14
wagon r 1.0         14
yaris               14
s-presso            14
venue               14
duster              14
wr-v                13
polo                13
jazz                12
triber              11
scorpio             10
swift dzire         10
eeco                10
figo                 9
ameo                 9
ertiga               8
seltos               8
vitara brezza        8
i20                  8
kiger                7
etios liva           7
new i20              6
harrier              6
s-cross              6
altroz               6
new santro 1.1       6
freestyle            6
xuv500               5
fluidic verna 4s     5
ignis                5
grand i10 nios       5
omni                 4
figo aspire          4
beat                 4
etios                4
punch                4
compass              4
glanza               4
rapid                3
brio                 3
captur               3
magnite              3
mobilio              3
vento                3
santro xing          3
go                   2
cruze                2
superb               2
xuv 300              2
jetta                2
lodgy                2
tiago                2
nano                 1
scala                1
micra active         1
nexon                1
wagon r 1.2          1
tuv300               1
alto                 1
verna transform      1
redi-go              1
nano genx            1
a-star               1
zest                 1
corolla altis        1
safari               1
hector plus          1
Name: count, dtype: int64

Value counts for Make_Year:
Make_Year
2017    129
2020    113
2019    112
2018    110
2016     88
2015     83
2014     71
2021     65
2013     51
2011     42
2012     36
2022     14
Name: count, dtype: int64

Value counts for Color:
Color
white     188
red       167
grey      156
silver    126
blue      122
brown      62
black      35
orange     19
bronze     12
beige       9
yellow      6
purple      4
golden      3
maroon      3
green       2
Name: count, dtype: int64

Value counts for Body_Type:
Body_Type
hatchback    462
sedan        207
suv          186
muv           38
crossover     21
Name: count, dtype: int64

Value counts for Mileage_Run:
Mileage_Run
49279    2
37283    2
32604    2
99495    2
26653    2
88735    2
56221    2
31171    2
31262    2
30234    2
52501    2
51686    2
42200    2
36581    2
50009    2
17246    2
45378    2
6738     2
22538    2
7122     2
36208    2
30130    2
59680    2
33394    2
11762    2
9242     2
44188    2
45590    2
27053    2
97039    2
16123    2
66868    2
22801    2
83265    2
13185    2
73664    2
48060    1
24564    1
39719    1
45868    1
47068    1
23227    1
57995    1
68876    1
46627    1
33545    1
87057    1
92256    1
55890    1
88105    1
20761    1
56280    1
37043    1
79576    1
29759    1
28559    1
18214    1
42933    1
64194    1
18146    1
29602    1
26994    1
47642    1
67041    1
29217    1
48583    1
98109    1
70581    1
80307    1
44611    1
28787    1
16373    1
39437    1
50664    1
60985    1
37005    1
23217    1
46289    1
23783    1
55410    1
38147    1
23801    1
31207    1
65232    1
60197    1
73382    1
62811    1
29086    1
12582    1
40158    1
50665    1
42283    1
79767    1
48524    1
91933    1
7981     1
57964    1
42290    1
54318    1
55319    1
39105    1
99001    1
57259    1
66820    1
21089    1
7779     1
48267    1
48079    1
54723    1
25198    1
23160    1
41191    1
18005    1
34480    1
20604    1
9015     1
56348    1
16006    1
27617    1
73428    1
85933    1
87635    1
72696    1
56696    1
29169    1
48449    1
55512    1
81335    1
25388    1
17120    1
25170    1
67154    1
40078    1
10100    1
23326    1
56762    1
6363     1
49799    1
94873    1
69414    1
40450    1
86120    1
29948    1
22356    1
77554    1
18499    1
27462    1
40249    1
82262    1
45754    1
4878     1
84391    1
93004    1
23861    1
43877    1
76926    1
94389    1
64291    1
25068    1
27215    1
62692    1
16234    1
39742    1
27876    1
51511    1
82049    1
16257    1
39894    1
24630    1
74834    1
54857    1
59394    1
8617     1
29028    1
53948    1
20280    1
75713    1
35607    1
25966    1
90745    1
21628    1
43164    1
16061    1
65025    1
26974    1
23778    1
7594     1
21075    1
25219    1
94751    1
26246    1
93570    1
70563    1
14965    1
33390    1
53349    1
44272    1
77919    1
84118    1
22735    1
50749    1
24310    1
52326    1
39400    1
68842    1
75728    1
26176    1
19949    1
68363    1
12256    1
16554    1
38156    1
66016    1
24862    1
67312    1
48924    1
54656    1
71460    1
33661    1
88267    1
25450    1
41804    1
72631    1
37865    1
72514    1
21304    1
7881     1
4704     1
64338    1
14197    1
60656    1
13846    1
16712    1
92474    1
44815    1
13209    1
48721    1
41651    1
8842     1
64313    1
52220    1
10370    1
12433    1
37237    1
53735    1
46103    1
2174     1
64878    1
76978    1
33454    1
19589    1
17101    1
51844    1
91463    1
88895    1
41843    1
38961    1
55670    1
35015    1
73892    1
68796    1
40438    1
12699    1
23745    1
38717    1
73732    1
16742    1
65581    1
39427    1
52004    1
40545    1
15836    1
11212    1
6052     1
20326    1
15113    1
50071    1
9832     1
43273    1
44193    1
43613    1
46006    1
45080    1
81709    1
48656    1
35730    1
35623    1
15508    1
34004    1
35042    1
57046    1
22546    1
31570    1
49536    1
53719    1
10303    1
27437    1
6603     1
16556    1
25626    1
9384     1
6104     1
21992    1
54137    1
33258    1
23869    1
14831    1
52846    1
28335    1
16491    1
26203    1
17504    1
38729    1
33744    1
18398    1
41757    1
41086    1
25418    1
23606    1
18798    1
24105    1
26394    1
34060    1
46251    1
6886     1
26020    1
33440    1
11800    1
7339     1
41465    1
67020    1
23885    1
62300    1
34080    1
78061    1
28476    1
64528    1
32340    1
57359    1
22856    1
28967    1
69302    1
14502    1
38213    1
54635    1
32939    1
23342    1
32464    1
30457    1
18402    1
95381    1
15251    1
61881    1
57394    1
26856    1
9421     1
56204    1
16936    1
15443    1
49826    1
7140     1
26533    1
15928    1
14133    1
31080    1
77127    1
40187    1
51531    1
13791    1
76060    1
5389     1
88321    1
17691    1
19734    1
16150    1
21557    1
24618    1
4337     1
74114    1
52631    1
5744     1
18988    1
18066    1
74660    1
32801    1
46517    1
44781    1
27409    1
23505    1
34872    1
7401     1
29978    1
32454    1
70628    1
50857    1
39525    1
27951    1
25975    1
89303    1
24655    1
54260    1
39484    1
32754    1
66963    1
33581    1
41060    1
49130    1
4773     1
14560    1
88547    1
46922    1
64378    1
41244    1
60256    1
84494    1
58025    1
89133    1
60983    1
12156    1
13197    1
18411    1
49335    1
42101    1
69045    1
25382    1
68611    1
30045    1
11225    1
73760    1
67732    1
67463    1
30322    1
15878    1
44885    1
43992    1
17050    1
6470     1
3832     1
47060    1
37489    1
30169    1
53600    1
61796    1
26094    1
99144    1
11275    1
69402    1
34491    1
15924    1
51187    1
47767    1
33433    1
40635    1
25835    1
30752    1
16332    1
20930    1
14499    1
72009    1
23164    1
28618    1
88695    1
7858     1
88827    1
7697     1
31271    1
17121    1
60287    1
8265     1
43091    1
44503    1
17056    1
24428    1
19958    1
60629    1
66699    1
33439    1
81799    1
30378    1
5129     1
8873     1
78297    1
50808    1
16384    1
47487    1
25632    1
33269    1
73950    1
70520    1
50735    1
6491     1
42905    1
42222    1
97902    1
16760    1
24860    1
20685    1
2163     1
18170    1
61922    1
32602    1
59847    1
9752     1
8249     1
10514    1
24136    1
18638    1
93653    1
60049    1
31330    1
49014    1
20894    1
9034     1
63746    1
85602    1
59054    1
50811    1
38198    1
92118    1
72801    1
38592    1
22379    1
44822    1
13069    1
96939    1
71397    1
15418    1
11031    1
26116    1
93446    1
90058    1
63676    1
43918    1
6301     1
29907    1
41218    1
5475     1
4305     1
43112    1
53807    1
37837    1
11074    1
15748    1
14593    1
30228    1
44897    1
55995    1
9936     1
18790    1
64323    1
32849    1
22777    1
37652    1
83607    1
62659    1
9468     1
19550    1
33113    1
79565    1
10651    1
27664    1
13389    1
30797    1
48947    1
37315    1
11047    1
24858    1
4839     1
16329    1
57286    1
3679     1
96077    1
30406    1
60873    1
24811    1
56275    1
78981    1
7434     1
10730    1
21996    1
54233    1
40345    1
64458    1
28562    1
29540    1
35680    1
25126    1
52261    1
28108    1
92603    1
16304    1
26350    1
35400    1
71450    1
32395    1
15059    1
31994    1
13768    1
3174     1
70137    1
35913    1
19056    1
32492    1
22598    1
85981    1
17791    1
26910    1
3474     1
24360    1
68269    1
52291    1
83551    1
34075    1
14414    1
35796    1
38199    1
8197     1
27626    1
48106    1
12031    1
5992     1
20427    1
8560     1
58693    1
18282    1
17214    1
77692    1
10381    1
28831    1
72359    1
36922    1
72356    1
55760    1
77836    1
49775    1
24676    1
69939    1
4776     1
35387    1
63035    1
26190    1
47013    1
11734    1
27902    1
66674    1
38143    1
13554    1
1540     1
12285    1
80408    1
83377    1
21887    1
40498    1
18065    1
70958    1
16090    1
55617    1
87773    1
54744    1
18915    1
97573    1
21903    1
60209    1
44987    1
37702    1
92227    1
24747    1
26671    1
84739    1
90423    1
40632    1
59010    1
24732    1
14077    1
19600    1
93981    1
25413    1
95862    1
53015    1
63279    1
73591    1
79503    1
60227    1
5564     1
71696    1
44787    1
68295    1
38868    1
30876    1
71532    1
17156    1
29122    1
85751    1
73251    1
14359    1
48670    1
70015    1
41517    1
14818    1
46935    1
30590    1
62805    1
47123    1
50437    1
49930    1
46485    1
76306    1
80743    1
54836    1
32170    1
62193    1
40097    1
86163    1
50229    1
20156    1
40411    1
12761    1
74710    1
32419    1
36707    1
69077    1
81673    1
22127    1
43763    1
45887    1
68859    1
24353    1
53467    1
18732    1
24631    1
54971    1
12076    1
35425    1
54734    1
39807    1
41667    1
28840    1
20305    1
53613    1
27562    1
14952    1
71380    1
35128    1
18300    1
10563    1
40959    1
13948    1
6165     1
44478    1
85895    1
42187    1
88795    1
45000    1
14861    1
61455    1
23697    1
84623    1
36822    1
49985    1
25411    1
26198    1
21812    1
15591    1
50821    1
57167    1
62904    1
13074    1
37942    1
96471    1
19722    1
62840    1
69658    1
6900     1
29780    1
56207    1
40003    1
94315    1
29492    1
21365    1
27185    1
63170    1
44736    1
13111    1
83705    1
7227     1
45880    1
36850    1
53160    1
17790    1
24218    1
11304    1
12002    1
61411    1
35703    1
28557    1
14853    1
43785    1
23724    1
22703    1
56387    1
81103    1
57503    1
45560    1
45008    1
51210    1
44894    1
39515    1
54287    1
91039    1
49435    1
9686     1
12092    1
28833    1
48606    1
96236    1
37258    1
33869    1
91796    1
45607    1
1117     1
24745    1
75639    1
77022    1
70245    1
36069    1
16240    1
46438    1
35461    1
46447    1
74652    1
44746    1
92092    1
58748    1
90147    1
25905    1
76890    1
32490    1
13505    1
21564    1
22849    1
24374    1
31912    1
60578    1
95065    1
7342     1
9285     1
41443    1
53848    1
70568    1
61885    1
27941    1
15221    1
5227     1
30420    1
27803    1
47154    1
84488    1
16348    1
90078    1
69591    1
56096    1
56418    1
65284    1
72489    1
68645    1
33231    1
43953    1
36422    1
78251    1
48481    1
37746    1
50872    1
25517    1
74814    1
24315    1
63937    1
11499    1
41176    1
Name: count, dtype: int64


In [202]:
df[df["Mileage(kmpl)"] == "bs iv"]

,Car_Name,Make,Model,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,...,CC_Displacement,Transmission,Transmission_Type,Power(BHP),Torque(Nm),Mileage(kmpl),Emission,Price,engine_litres,drive_train
322,alpha,maruti suzuki,baleno,2019,blue,hatchback,30420,1,5,d,...,1248,5,a,74.0,190.0,bs iv,5,883000,None,None
446,alpha,maruti suzuki,baleno,2019,blue,hatchback,37942,1,5,d,...,1248,5,a,74.0,190.0,bs iv,5,847000,None,None

In [203]:
# pip install python-dotenv

In [204]:
# pip install sqlalchemy

In [205]:
from sqlalchemy import create_engine
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

conn = psycopg2.connect(f"host=localhost dbname=car_db user={DB_USER} password={DB_PASSWORD}")

Changing df col names to be more apporpriate for db:

In [206]:
# rename dataframe columns to match with the table column names
df = df.rename(columns={
    'Car_Name': 'name',
    'Make': 'make',
    'Model': 'model',
    'Make_Year': 'year',
    'Color': 'color',
    'Body_Type': 'body_style',
    'Mileage_Run': 'mileage',
    'No_of_Owners': 'num_owners',
    'Seating_Capacity': 'seating_capacity',
    'Fuel_Type': 'fuel_type',
    'Fuel_Tank_Capacity(L)': 'fuel_capacity',
    'Engine_Type': 'engine_type',
    'CC_Displacement': 'cc_displacement',
    'Transmission': 'transmission_gears',
    'Transmission_Type': 'transmission_type',
    'Power(BHP)': 'bhp',
    'Torque(Nm)': 'torque',
    'Mileage(kmpl)': 'fuel_economy',
    'Emission': 'emission_class',
    'Price': 'price',
    'engine_litres': 'engine_litres',
    'drive_train': 'drive_train'
})

changing data types in the df:

In [207]:
# These are string columns
df['name'] = df['name'].astype('string')
df['make'] = df['make'].astype('string')
df['model'] = df['model'].astype('string')
df['color'] = df['color'].astype('string')
df['body_style'] = df['body_style'].astype('string')
df['fuel_type'] = df['fuel_type'].astype('string')
df['engine_type'] = df['engine_type'].astype('string')
df['transmission_gears'] = df['transmission_gears'].astype('string')
df['transmission_type'] = df['transmission_type'].astype('string')
df['drive_train'] = df['drive_train'].astype('string')

# This is a date column
df['year'] = pd.to_datetime(df['year'])

# These are integer columns
df['mileage'] = df['mileage'].astype('Int64')  # Use 'Int64' (not 'int64') to support missing values (NaN)
df['num_owners'] = df['num_owners'].astype('Int64')
df['seating_capacity'] = df['seating_capacity'].astype('Int64')
df['fuel_capacity'] = df['fuel_capacity'].astype('Int64')
df['cc_displacement'] = df['cc_displacement'].astype('Int64')
df['emission_class'] = df['emission_class'].astype('Int64')
df['price'] = df['price'].astype('Int64')

# These are float columns
df['bhp'] = df['bhp'].astype('float64')
df['torque'] = df['torque'].astype('float64')
df['fuel_economy'] = df['fuel_economy'].astype('string')  # this one should be a float, but there are two enries that contain strings and have yet to be fixed
df['engine_litres'] = df['engine_litres'].astype('float64')

I have to just use strings for most of these fields right now because they are so drastically denormalized and inconsistent. I'm not going to put in a primary key yet, bc I want to delete duplicates first.

In [208]:

# create sqlalchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@localhost/car_db")

# Use 'replace' if you want to replace an existing table with the same name.
df.to_sql('cars', engine, if_exists='replace', index=False)

914

In [209]:
from sqlalchemy import create_engine, text
# Confirm that the data has been loaded successfully
with engine.connect() as conn:
    result_set = conn.execute(text("SELECT * FROM cars LIMIT 10"))
    for row in result_set:
        print(row)

('highline at (d)', 'volkswagen', 'ameo', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'silver', 'sedan', 44611, 1, 5, 'd', 45, 'tdi', 1498, '7', 'a', 109.0, 250.0, '21.66', 4, 657000, 1.5, None)
('sx', 'hyundai', 'i20 active', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'red', 'crossover', 20305, 1, 5, 'p', 45, 'kappa', 1197, '5', 'm', 82.0, 115.0, '17.19', 5, 682000, 1.2, None)
('vx', 'honda', 'wr-v', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'white', 'suv', 29540, 2, 5, 'p', 40, 'i-vtec', 1199, '5', 'm', 88.5, 110.0, '16.5', 4, 793000, None, None)
('rxt amt', 'renault', 'kwid', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'bronze', 'hatchback', 35680, 1, 5, 'p', 28, '', 999, '5', 'm', 67.0, 91.0, '21.7', 4, 414000, 1.0, None)
('asta', 'hyundai', 'grand i10', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'orange', 'hatchback', 25126, 1, 5, 'p', 43, 'kappa vtvt', 1197, '5', 'm', 81.86, 113.75, '18.9', 5, 515000, 1.2, None)
('sportz', 'hyundai', 'elite i20', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'red', 'hatchback', 52261, 1, 5, 'p', 45, 'kappa vtvt', 1197, '5', 'm', 81.83, 114.7, '18.6', 4, 604000, 1.2, None)
('v mt', 'honda', 'brio', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'grey', 'hatchback', 28108, 2, 5, 'p', 35, '4 cylinder inline', 1198, '5', 'm', 86.8, 109.0, '19.4', 3, 316000, None, None)
('xz', 'tata', 'harrier', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'grey', 'suv', 92603, 1, 5, 'd', 50, 'kryotec turbocharge', 1956, '6', 'a', 138.0, 350.0, '17.0', 4, 1419000, 2.0, None)
('sportz amt vtvt', 'hyundai', 'grand i10 nios', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'blue', 'hatchback', 16304, 1, 5, 'p', 37, 'kappa', 1197, '5', 'm', 81.86, 113.75, '20.07', 4, 710000, 1.2, None)
('rxt opt', 'renault', 'kwid', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'bronze', 'hatchback', 26350, 2, 5, 'p', 28, '', 999, '5', 'm', 67.0, 91.0, '22.0', 4, 392000, 1.0, None)

Insert UUID primary key:

In [210]:
with engine.connect() as conn:
    conn.execute(text("CREATE EXTENSION IF NOT EXISTS pgcrypto"))
    conn.execute(text("ALTER TABLE cars ADD COLUMN id UUID PRIMARY KEY DEFAULT uuid_generate_v4()"))
    conn.commit()

In [211]:
with engine.connect() as conn:
    result_set = conn.execute(text("SELECT * FROM cars LIMIT 10"))
    for row in result_set:
        print(row)

('highline at (d)', 'volkswagen', 'ameo', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'silver', 'sedan', 44611, 1, 5, 'd', 45, 'tdi', 1498, '7', 'a', 109.0, 250.0, '21.66', 4, 657000, 1.5, None, UUID('c4bc8c17-8f8c-45c6-ae0c-4f9ce054e9d1'))
('sx', 'hyundai', 'i20 active', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'red', 'crossover', 20305, 1, 5, 'p', 45, 'kappa', 1197, '5', 'm', 82.0, 115.0, '17.19', 5, 682000, 1.2, None, UUID('524d8f21-ec39-4e09-addc-0dfcee82ab8a'))
('vx', 'honda', 'wr-v', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'white', 'suv', 29540, 2, 5, 'p', 40, 'i-vtec', 1199, '5', 'm', 88.5, 110.0, '16.5', 4, 793000, None, None, UUID('7191ec04-b7c2-4cb1-94cd-e921cc665fa6'))
('rxt amt', 'renault', 'kwid', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'bronze', 'hatchback', 35680, 1, 5, 'p', 28, '', 999, '5', 'm', 67.0, 91.0, '21.7', 4, 414000, 1.0, None, UUID('69fc32cd-c45e-46da-979b-678a591fdfea'))
('asta', 'hyundai', 'grand i10', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'orange', 'hatchback', 25126, 1, 5, 'p', 43, 'kappa vtvt', 1197, '5', 'm', 81.86, 113.75, '18.9', 5, 515000, 1.2, None, UUID('b6c36495-a19b-44f7-9ea2-46fe59d7e35d'))
('sportz', 'hyundai', 'elite i20', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'red', 'hatchback', 52261, 1, 5, 'p', 45, 'kappa vtvt', 1197, '5', 'm', 81.83, 114.7, '18.6', 4, 604000, 1.2, None, UUID('c1b0abb2-c526-40f7-b4fe-1a488d57f9eb'))
('v mt', 'honda', 'brio', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'grey', 'hatchback', 28108, 2, 5, 'p', 35, '4 cylinder inline', 1198, '5', 'm', 86.8, 109.0, '19.4', 3, 316000, None, None, UUID('a9e45f5f-2b99-4367-ad4f-ebd08ab4e21c'))
('xz', 'tata', 'harrier', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'grey', 'suv', 92603, 1, 5, 'd', 50, 'kryotec turbocharge', 1956, '6', 'a', 138.0, 350.0, '17.0', 4, 1419000, 2.0, None, UUID('8c787e3b-e816-4097-8981-81763c084e9c'))
('sportz amt vtvt', 'hyundai', 'grand i10 nios', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'blue', 'hatchback', 16304, 1, 5, 'p', 37, 'kappa', 1197, '5', 'm', 81.86, 113.75, '20.07', 4, 710000, 1.2, None, UUID('640f7736-3ef5-4ec8-8dda-634b5b290200'))
('rxt opt', 'renault', 'kwid', datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'bronze', 'hatchback', 26350, 2, 5, 'p', 28, '', 999, '5', 'm', 67.0, 91.0, '22.0', 4, 392000, 1.0, None, UUID('11b78e88-6720-4c11-bf1f-5c2c53ca1d1a'))